## <center>INTRODUCTION TO PYTHON</center>

---

### <center>Modules </center>
---
* A module is a file containing Python definitions and statements. 
* The file name is the module name with the suffix .py appended. 
* Within a module, the moduleâ€™s name (as a string) is available as the value of the global variable __name__.

#### Create a file called fibo.py with the following contents:

# Fibonacci numbers module

def fib(n):    # write Fibonacci series up to n
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b

def fib2(n):   # return Fibonacci series up to n
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b
    return result

#### Import fibo module with the following command

In [1]:
import fibo

print(__name__)
# Get the name of the fibo module  
print(fibo.__name__)

#Calling fib and fib2 function in fibo module
print(fibo.fib(100))
print(fibo.fib2(100))

__main__
fibo
0 1 1 2 3 5 8 13 21 34 55 89 None
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

#### Import fibo module with the following command

In [2]:
import fibo as f

# Calling fib and fib2 function in fibo module
print(f.fib(100))

0 1 1 2 3 5 8 13 21 34 55 89 None

#### Import fibo function in the fibo module with the following command

In [3]:
from fibo import fib

#Calling fib function in fibo module
print(fib(500))

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 None

#### import all names that a module defines:
Note: This imports all names except those beginning with an underscore (_).

In [4]:
from fibo import *
print(fib(500))
print(fib2(100))

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 None
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

### <center>Primary Data Types</center>
---

### 1. Integer

In [5]:
n = 580
print(n)
print(type(n))

580
<class 'int'>

### 2. Float

In [6]:
f = 580.65
print(f)
print(type(f))

580.65
<class 'float'>

#### <center>Arithematic Operators</center>

In [7]:
print ("Add : ", n + 1)   # Addition;
print ("Sub : ", n - 1)   # Subtraction;
print ("Mul : ", n * 2)   # Multiplication;
print ("Exp : ", n ** 2)  # Exponentiation;

i = n + 2
print ("Quotient : ", i // 5) # Floored Quotient
print ("Remainder : ", i % 5)   # Modulus - gives remainder

Add :  581
Sub :  579
Mul :  1160
Exp :  336400
Quotient :  116
Remainder :  2

#### <center>Comparision Operators</center>

In [8]:
print("10 == 10 -- ", 10 == 10)  # Equal to comparision
print("10 != 20 -- ", 10 != 20)  # Not equal to comparision
print("10 > 10 -- ", 10 > 10)    # Greater than
print("10 < 20 -- ", 10 < 20)    # Smaller than
print("10 <= 10 -- ", 10 <= 10)  # Smaller OR Equal to

10 == 10 --  True
10 != 20 --  True
10 > 10 --  False
10 < 20 --  True
10 <= 10 --  True

#### <center>ACTIVITY</center>

A circumcribed circle is cut out of a square of length 10 cm. Print out the remaining area?

(Area of square = ${a^2}$, Area of circle = $\pi r^2$)

In [4]:
a = 10
area = 3.14*a**2
print(area)

314.0

### 3. Boolean

In [9]:
b = True
print(b)
print(type(b))

True
<class 'bool'>

#### <center>Logical Operations</center>

In [10]:
t, f = True, False

print (t and f) # Logical AND;
print (t or f)  # Logical OR;
print (not t)   # Logical NOT;
print (t != f)  # Logical XOR;

print (t & f) # bitwise Logical AND;
print (t | f) # bitwise Logical OR;

False
True
False
True
False
True

### 4. String

In [11]:
s = "hello"
print(s, "world")
print(type(s))

hello world
<class 'str'>

#### <center>String Operations</center>

In [12]:
print (s.capitalize())  # Capitalize a string
print (s.upper())       # Convert a string to uppercase
print (s.rjust(7))      # Right-justify a string, padding with spaces
print (s.center(7))     # Center a string, padding with spaces
print (s.replace('l', '(ell)'))  # Replace all instances of one substring with another;
print ('  world '.strip())  # Strip leading and trailing whitespace
l = "I love my country".split()
print(l)        
print(" ".join(l))

Hello
HELLO
  hello
 hello
he(ell)(ell)o
world
['I', 'love', 'my', 'country']
I love my country

#### <center>ACTIVITY</center>

Create a variable 's1' and assign the value 'I' to it. 

Create another variable 's2' and assign the value 'AM FROM BATCH' to it. 

Create another variable 's3' and assign the value 'insofe' to it. 

Create an integer variable 'batchNum' and assign the value 70 to it. 

Print result that looks like this: "     I am from INSOFE batch 70!!!     "

####  <center>Explicit Data Type Conversion </center>

In [13]:
s = "580.65"
print("s : ", s, type(s))

f = float(s)
print("f : ", f, type(f))

n = int(f) 
print("n : ", n, type(n))

s :  580.65 <class 'str'>
f :  580.65 <class 'float'>
n :  580 <class 'int'>

### range
range(stop)

range(start, stop, step)

Range objects can only represent sequences

Range object takes small amount of memory, irrespective of the size of the range it represents as it only stores the start, stop and step values (calculating individual items and subranges as needed)

Rather than being a function, range is actually an immutable sequence type.

In [14]:
r = range(5)
print(r)

nums = list(r)    
print (nums) 

nums[2:4] = [8, 9]       
print (nums)

range(0, 5)
[0, 1, 2, 3, 4]
[0, 1, 8, 9, 4]

In [15]:
r = range(5, 15, 2)
print(r)

nums = list(r)    
print (nums)

range(5, 15, 2)
[5, 7, 9, 11, 13]

### <center> Conditional Statements </center>

### if Statements

![](img/if_else.png)

In [5]:
x = int(input("Please enter an integer: "))

Please enter an integer: 3

In [17]:
if x < 0 :
    x = 0
    print('Negative changed to zero')
elif x == 0 :
    print('Zero')
elif x == 1:
    print('Single')
else :
    print('More')

More

In [18]:
i = 5

if isinstance(i, str):
    print('String')
elif isinstance(i, (int, float)):
    if isinstance(i, int):
        print('Numeric')
    else :
        print('Float')

Numeric

#### <center>ACTIVITY</center>

Read in an integer number using input. Using if-else statement, check if the number is even or odd. 

If even, print out "Number is even". If odd, print out "Number is odd"

In [3]:
x = int(input())
if x%2==0:
    print('Number is even')
else:
    print('Number is Odd')

5
Number is Odd

### <center> Loops </center>
---
Loops are useful when a operation has to be performed over a series of elements.

In [19]:
animals = ['cat', 'dog', 'monkey']

for animal in animals:
    print (animal)

cat
dog
monkey

In [8]:
for i in range(0, 20, 5) :
    print(i)

0
5
10
15

#### <center>ACTIVITY</center>

Count the number of vowels in the string "Hello Batch 70"

In [7]:
line = 'Hello Batch 70'
count = 0

for vowels in line:
    if vowels in 'aeiouAEIOU':
        count += 1

print(count)

3

### <center>Containers</center>
---


Python includes several built-in container types: 
- lists
- dictionaries
- sets
- tuples

### 1. Lists

A list is the Python equivalent of an array.

In [20]:
xs = [3, 1, 2]   # Create a list
print (xs)

[3, 1, 2]

It can contain elements of different types.

In [21]:
xs[2] = 'foo'    
print (xs)

[3, 1, 'foo']

It is resizeable.

In [22]:
xs.append('bar') # Add a new element to the end of the list
print (xs) 

x = xs.pop()     # Remove and return the last element of the list
print (x)
print (xs)

[3, 1, 'foo', 'bar']
bar
[3, 1, 'foo']

Extend helps to add a list to list

In [23]:
xs.extend([111,222,333])
print(xs)

[3, 1, 'foo', 111, 222, 333]

Python index starts with zero.

![](img/list.png)

In [24]:
print (xs[0])
print (xs[2])
print (xs[-1], xs[-2], xs[-3])     # Negative indices count from the end of the list

3
foo
333 222 111

#### <center>ACTIVITY</center>

Create a list 'mySecondList' with the following elements in it: 'a', 'b', 23, True.

Add another element 'batch' to it.

Extract out the last element using reverse indexing. 

Change the element at index 1 to 'bat'. 

Print out the modified list

In [10]:
mysecondlist = ['a', 'b', 23, True]

mysecondlist.append('batch')

print(mysecondlist)

print(mysecondlist[-1])

mysecondlist[1] = 'bat'

print(mysecondlist)

['a', 'b', 23, True, 'batch']
batch
['a', 'bat', 23, True, 'batch']

### <center> List comprehensions </center>

When programming, frequently we want to transform one type of data into another. 
As a simple example, consider the following code that computes square numbers:

In [9]:
nums = [0, 1, 2, 3, 4]
squares = []

for x in nums :
    if x % 2 == 0 :
        squares.append(x ** 2)
    
print(squares)

[0, 4, 16]

You can make this code simpler using a list comprehension:

In [26]:
nums = [0, 1, 2, 3, 4]

print( [ x ** 2 for x in nums ] )

[0, 1, 4, 9, 16]

List comprehensions can also contain conditions:

In [27]:
nums = [0, 1, 2, 3, 4]

print( [ x ** 2 for x in nums if x % 2 == 0 ]  )

[0, 4, 16]

#### <center>ACTIVITY</center>

Create two variables: 'var1' with values 1-5 and 'var2' with values 10-20 in steps of 2 (i.e., 10,12,14,... etc). 
Using list comprehensions, print out result of (var1+var2) if (var1+var2) is a multiple of 3.

In [25]:
var1 = list(range(1,6))
var2 = list(range(10,22,2))
var3 = var1 + var2

print('var1 =', var1, '\n')
print('var2 =', var2, '\n')

print(var1 + var2, '\n')

for i in var3:
    if i%3 == 0:
        print(i)

var1 = [1, 2, 3, 4, 5]

var2 = [10, 12, 14, 16, 18, 20]

[1, 2, 3, 4, 5, 10, 12, 14, 16, 18, 20]

3
12
18

### 2. Dictionaries
A dictionary stores (key, value) pairs.

In [28]:
d = { 'cat' : 'cute', 
      'dog' : 'furry' }

print (d['cat'])                   
print ('cat' in d)

cute
True

New elements can be added easily.

In [29]:
d['fish'] = 'wet'

print (d)

{'cat': 'cute', 'dog': 'furry', 'fish': 'wet'}

Accessing a key that doesn't exist in the dictionary returns KeyError.

In [30]:
print (d['monkey'])

KeyError: 'monkey'

To avoid the error, a default value can be given using get(). If the key is present, the value is returned, else the default value is printed.

In [31]:
print (d.get('monkey', 'N/A'))   
print (d.get('fish', 'N/A'))

N/A
wet

Remove an element from a dictionary

In [32]:
del (d['fish'])

It is easy to iterate over the keys in a dictionary:

In [26]:
d = {'person': 2, 
     'cat': 4, 
     'spider': 8}

for animal in d :
    
    legs = d[animal]
    print ('A %s has %d legs' % (animal, legs))

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

In [27]:
d

{'person': 2, 'cat': 4, 'spider': 8}

In [17]:
for idx, animal in enumerate(d) :
    print(idx, animal, d[animal])

0 person 2
1 cat 4
2 spider 8

In [34]:
print ( [ 'A %s has %d legs' % (animal, d[animal]) for animal in d])

['A person has 2 legs', 'A cat has 4 legs', 'A spider has 8 legs']

In [35]:
for animal, legs in d.items():   
    
    print('A', animal, 'has', legs, 'legs')

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

### <center>Dictionary comprehensions </center>

These are similar to list comprehensions, but allow you to easily construct dictionaries.

In [13]:
{ x : x ** 2 for x in range(5) if x % 2 == 0}

{0: 0, 2: 4, 4: 16}

#### <center>ACTIVITY</center>

Create a dictionary of numbers from 1-10 and tag them odd or even. Hint - Keys should be numbers 1-10 and values should be 'odd' or 'even'

In [30]:
numbers = list(range(1,11))

print({x : 'Even' if (x % 2) == 0 else 'Odd' for x in numbers})

{1: 'Odd', 2: 'Even', 3: 'Odd', 4: 'Even', 5: 'Odd', 6: 'Even', 7: 'Odd', 8: 'Even', 9: 'Odd', 10: 'Even'}

#### <center> Membership operator </center>

In [37]:
my_list = ["R", "Python", "SQL"]

print("'R' in my_list =>", 'R' in my_list)

'R' in my_list => True

By default membership operator only checks keys of the dictionary. We use dict.values() to check for the values

In [38]:
my_dict = {'cat': 'cute', 'dog': 'furry'}

print("'cat' in my_dict =>", 'cat' in my_dict)
print("'cute' in my_dict =>", 'cute' in my_dict)

print("'cute' in my_dict.values() =>", 'cute' in my_dict.values())

'cat' in my_dict => True
'cute' in my_dict => False
'cute' in my_dict.values() => True

Use enumerate() on a list to iterate thorugh index

In [39]:
animals = ['cat', 'dog', 'monkey']

for idx, animal in enumerate(animals):
    print('Index', idx + 1, animal)

Index 1 cat
Index 2 dog
Index 3 monkey

#### <center>ACTIVITY</center>

Create a dictionary 'myDict' with the following (key, value) pairs. ('Name', "XYZ"), ('Batch', 70), ("Location", "Mumbai").
Iterate over the dictionary and print out the following (order doesn't matter):

My Name is XYZ

My Batch is 70

My Location is Mumbai

In [35]:
mydict = {'Name': 'XYZ', 'Batch':70, 'Location': 'Mumbai'}

for x,y in mydict.items():
    print('My %s is %s' %(x,y))

My Name is XYZ
My Batch is 70
My Location is Mumbai

### 3. Set

Python Set is an unordered collection created by either curly brackets or set() constructor.

In [40]:
set1 = set((1, 2))

set2 = {'a',
        'm',
        'h'}

print(type(set1))
print(type(set2))

<class 'set'>
<class 'set'>

Add an element to set

In [41]:
set1.add(10)
print(set1)

{1, 2, 10}

Add many element to set

In [42]:
set1.update([7,8])
print(set1)

{1, 2, 7, 8, 10}

Remove an item from set.

In [43]:
set1.discard(7)
print(set1)

set1.remove(8)
print(set1)

{1, 2, 8, 10}
{1, 2, 10}

Count number of elements of set

In [44]:
len(set1)

3

Set is unindexed so it cannot be accessed with index, it can be looped through.

In [45]:
for i in set1:
    print(i)

1
2
10

#### <center> Set operations </center>

In [28]:
set1 = {6, 7, 8, 9}
set2 = {2, 3, 4, 5, 6}

print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))
print(set1 - set2)

{2, 3, 4, 5, 6, 7, 8, 9}
{6}
{8, 9, 7}
{8, 9, 7}

### 4. Tuples

A tuple is an (immutable) ordered list of values. 

A tuple is in many ways similar to a list; one of the most important differences is that tuples can be used as keys in dictionaries, while lists cannot.

In [37]:
t = (5, 6)       

print (t, type(t))

(5, 6) <class 'tuple'>

Create a dictionary with tuple keys

In [38]:
d = { (x, x + 1) : x for x in range(10) }  

d

{(0, 1): 0,
 (1, 2): 1,
 (2, 3): 2,
 (3, 4): 3,
 (4, 5): 4,
 (5, 6): 5,
 (6, 7): 6,
 (7, 8): 7,
 (8, 9): 8,
 (9, 10): 9}

In [39]:
print (d[t])

5

In [40]:
print (d[(1, 2)])

1

Tuples once created cannot modified.

In [41]:
t[0] = 1

TypeError: 'tuple' object does not support item assignment

#### <center>ACTIVITY</center>

Create a tuple named 'myTup' with the following elements: 1, 2, 'abc'. 

Print this tuple. 

Access the first two elements of the tuple. 

Can you add another element 'xyz' to myTup? 

What should we do if we want to get (1, 2, 'abc', 'xyz') using the existing tuple?

In [44]:
mytup = (1,2,'abc')

print(mytup)

print(mytup[:2])

newtup = mytup + ('xyz',)

print(newtup)

(1, 2, 'abc')
(1, 2)
(1, 2, 'abc', 'xyz')

In [46]:
print(id(mytup), id(newtup))

2306611013816 2306612000072

### <center>Mutable and Immutable </center>
---
- Update operation is only possible in mutable objects (List, Dictionary, Set).
- All primary data types (int, str, bool) are immutable.
- Update operation on primary immutable data types leads to fresh assignment.

Check memory location of a variable in python

In [52]:
id(n)

4519526576

In [53]:
list3 = [2,5,6,7]

print(list3, id(list3))   # id() -> prints the memory location of the object

list3[2] = 99
print(list3, id(list3))

[2, 5, 6, 7] 4520058120
[2, 5, 99, 7] 4520058120

Fresh assignment to a variable (irrespective of it being mutable or immutable) leads to new memory allocation

In [52]:
list4 = [2,3,4]

print(list4, id(list4))

list4 = [2,3,4]
print(list4, id(list4))

[2, 3, 4] 4620927240
[2, 3, 4] 4620481352

For immutable containers (tuple) update operation throws error.

In [55]:
my_tuple = (2,5,6,7)
print(my_tuple)

my_tuple[2] = 99

(2, 5, 6, 7)

TypeError: 'tuple' object does not support item assignment

Fresh assignment with Immutable objects

In [69]:
x = "insofe"
print(x, id(x))

x = "mumbai"
print(x, id(x))

insofe 4520166824
mumbai 4520168056

Mutable objects within a immutable object can be modified. Therefore, in such cases the final value of the immutable object changes.

In [53]:
t = ( 'holberton', [1, 2, 3] )
print(t, id(t))

t[1][2] = 5

print(t, id(t))

('holberton', [1, 2, 3]) 4615800136
('holberton', [1, 2, 5]) 4615800136

In Python variable assignment is by reference (aka shallow copy)

In [58]:
Apple = 20
Orange = Apple
print("Apple", Apple, id(Apple))
print("Orange", Orange, id(Orange))

Apple 20 4480407568
Orange 20 4480407568

However updating or assigning new value to either of the Immutable variables, will lead to both the variable having seperate memory locations. Since mutable objects allow updating specific values; there is no change in memory location.

In [33]:
Banana = [20,30,40,50]
Mango = Banana
print("Banana", Banana, id(Banana))
print("Mango", Mango, id(Mango), "\n")

Banana[3] = 99
print("Banana", Banana, id(Banana))
print("Mango", Mango, id(Mango), "\n")

Banana = [1, 2, 3]
print("Banana", Banana, id(Banana))
print("Mango", Mango, id(Mango))

Banana [20, 30, 40, 50] 4624911112
Mango [20, 30, 40, 50] 4624911112

Banana [20, 30, 40, 99] 4624911112
Mango [20, 30, 40, 99] 4624911112

Banana [1, 2, 3] 4624911752
Mango [20, 30, 40, 99] 4624911112

Most of the times the above behaviour is not desirable in data science pipeline.

Hence we prefer deep-copy which ensures that a hard replica (with seperate memory location) is created.

R by default follows copy-on-modify semantics. Which is synonymous to deep-copy**

In [30]:
Fruits = [20,30,40,50]
Veggies = Fruits.copy()
print("Fruits", Fruits,id(Fruits))
print("Veggies",Veggies,id(Veggies),"\n")

Fruits[3] = 99
print("Fruits", Fruits, id(Fruits))
print("Veggies",Veggies,id(Veggies))

Fruits [20, 30, 40, 50] 4620928520
Veggies [20, 30, 40, 50] 4620927176

Fruits [20, 30, 40, 99] 4620928520
Veggies [20, 30, 40, 50] 4620927176

### <center>Functions</center>
---
Python functions are defined using the `def` keyword.

In [61]:
def sign(x) :
    
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

for x in [-1, 0, 1]:
    print (sign(x))

negative
zero
positive

We will often define functions to take optional keyword arguments, like this:

In [62]:
def hello(name, loud = False):
    
    if loud:
        print ('HELLO,' name.upper())
    else:
        print ('Hello,', name + '!')

hello('Bob')

hello('Fred', loud = True)

Hello, Bob!
HELLO, FRED

#### <center>ACTIVITY</center>

Define a function which would take a number 'n' as input and compute the sum of natural numbers till n.
Example if input number is 5, the function returns the result: 1 + 2 + 3 + 4 + 5

HINT: You can use the shortcut formula n(n+1)/2.
So for n = 5, result = 5*6/2 = 15

In [48]:
n = int(input())

def sum(n) :
    return n*(n+1)/2 

print(sum(n))

5
15.0

Write a function 'F' which would take in two numbers. Based on user choice 1 = add the numbers or 2 = multiply the two numbers, perform the operation and return the appropriate results

In [58]:
a = int(input('a = '))
b = int(input('b = '))
choice = int(input('press 1 for sum or press 2 for product = '))

def F(a, b, choice) :
    if choice == 1 :
        return a + b
    elif choice == 2 :
        return a * b
    else :
        return "Invalid input"
    
print(F(a, b, choice))

a = 2
b = 5
press 1 for sum or press 2 for product = 1
7

In [57]:
a = int(input('a = '))
b = int(input('b = '))
choice = int(input('press 1 for sum or press 2 for product = '))

def F(a, b, choice) :
    if choice == 1 :
        return a + b
    elif choice == 2 :
        return a * b
    else :
        return "Invalid input"
    
print(F(a, b, choice))

a = 2
b = 5
press 1 for sum or press 2 for product = 3
Invalid input

### <center>Lambda Functions</center>
---
The lambda operator or lambda function is a way to create anonymous functions, i.e. functions without a name. These functions are throw-away functions, i.e. they are just needed where they have been created

In [63]:
f = lambda x, y : x + y
print(f(1, 1))

2

#### <center>ACTIVITY</center>

Create a lambda function which would take in 3 inputs i, j and k, and computes the multiplication of i, j and k.

In [59]:
f = lambda i,j,k : i * j * k

print(f(1, 5, 8))

40

### map
map(func, seq)

The first argument func is the name of a function and the second a sequence (e.g. a list) seq. 

map() applies the function func to all the elements of the sequence seq. 

It returns a new list with the elements changed by func

In [64]:
def fahrenheit(T):
    return (float(9)/5)*T + 32

def celsius(T):
    return ((float(5)/9)*(T - 32))

In [65]:
C = [36.5, 37, 37.5, 39]

F = list(map(fahrenheit, C))

print (F)

C = list(map(celsius, F))

print (C)

[97.7, 98.60000000000001, 99.5, 102.2]
[36.5, 37.00000000000001, 37.5, 39.0]

By using lambda, we wouldn't have had to define and name the functions fahrenheit() and celsius().

In [66]:
C = [39.2, 36.5, 37.3, 37.8]

F = list( map( lambda x : (float(9)/5)*x + 32, C ) )

print (F)

C = list(map(lambda x: (float(5)/9)*(x-32), F))

print (C)

[102.56, 97.7, 99.14, 100.03999999999999]
[39.2, 36.5, 37.300000000000004, 37.8]

#### <center>ACTIVITY</center>

Create a lambda function to multiply 5 to any given number. 

Create a list 'myList' with numbers 0-5. 

Map the created lambda function to myList. 

Print the results

In [60]:
myList = list(range(6))

print(list(map(lambda x : x*5, myList)))

[0, 5, 10, 15, 20, 25]

### filter

filter(function, list) 

It filter out all the elements of a list, for which the function function returns True.

The function filter(f,l) needs a function f as its first argument. f returns a Boolean value, i.e. either True or False. 

This function will be applied to every element of the list l.

Only if f returns True will the element of the list be included in the result list. 

filter() and map() return iterables which can be printed one by one using print(next(even_filter))
Or can be converted to list at a go using the list() function

In [67]:
fib = [0,1,1,2,3,5,8,13,21,34,55]

result = list( filter(lambda x: x % 2, fib) )

print (result)

[1, 1, 3, 5, 13, 21, 55]

#### <center>ACTIVITY</center>

Create a list with the following elements: 'a', 'b', 'c', 'i', 'o'.
Using filter, extract out the vowels in the list

In [61]:
fib = 'abcio'

result = list(filter(lambda x: x.lower() in 'aeiou', fib))

print(result)

['a', 'i', 'o']

### reduce

reduce(function, sequence[, initial]) 

The reduce() function accepts a function and a sequence and returns a single value calculated as follows:

Initially, the function is called with the first two items from the sequence and the result is returned.

The function is then called again with the result obtained in step 1 and the next value in the sequence. 

This process keeps repeating until there are items in the sequence.

In [63]:
import functools 

my_list = list(range(10))

reduced_list = functools.reduce( lambda x, y : x + y, my_list)

print(my_list,'\n')

print(reduced_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

45